<mat-button-toggle-group class="toggle" name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="client" routerLink="/client">Lista de Clientes</mat-button-toggle>
  <mat-button-toggle value="create-client" routerLink="/client/create">Criar Cliente</mat-button-toggle>
  <mat-button-toggle value="supplier" routerLink="/supplier">Lista de Fornecedores</mat-button-toggle>
  <mat-button-toggle value="create-supplier" routerLink="/supplier/create">Criar Fornecedor</mat-button-toggle>
  <mat-button-toggle value="clientsupplier" routerLink="/clientsupplier">Relacionamento de Clientes e Fornecedores</mat-button-toggle>
  <mat-button-toggle value="create-clientsupplier" routerLink="/clientsupplier/create">Criar Relacionamento de Clientes e Fonecedores</mat-button-toggle>
</mat-button-toggle-group>

<router-outlet></router-outlet>