<form class="update-client">
    <mat-card *ngIf="request">
        <h2>Atualizar Cliente</h2>
        <mat-form-field class="full-width">
            <mat-label>Nome:</mat-label>
            <input matInput placeholder="Insira o nome" [(ngModel)]="request.name" name="name">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>CPF:</mat-label>
            <input matInput placeholder="Insira o CPF" [(ngModel)]="request.cpf" name="cpf">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>CEP:</mat-label>
            <input matInput placeholder="Insira o CEP" [(ngModel)]="request.cep" name="cep">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="update()">Atualizar</button>
        <button mat-raised-button color="secundary" (click)="cancel()">Cancelar</button>
    </mat-card>
</form>